<section>
  <div>
  	{{ section.settings.heading }}
  </div>	
  <div class="contain">
    <div id="owl-carousel" class="slider owl-carousel owl-theme">
      <div class="item">
        1
      </div>
      <div class="item">
        2
      </div>
      <div class="item">
        3
      </div>
      <div class="item">
        4
      </div>
      <div class="item">
        5
      </div>
      <div class="item">
        6
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Testimonial Name",
    "settings": [
    {
      "type": "text", 
      "label":"heading", 
      "id":"heading"
    }
   ], 
   "blocks":[
		{
			"type":"testimonail",
			"name":"testimonail",
			"settings": [
			{
			  "type":"text",
			   "label":"Slider Text",
			   "id":"slider_text"
			}
			]
		}
	
	]
  }
{% endschema %}

<!-- <style>
	body {
  margin: 100px 0;
  padding: 30px;
}

.contain {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.item {
  align-items: center;
  background-color: tomato;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;
}


</style> -->
<script>
  $(function() {
    // place your code
     console.log("from slider")
  $('.slider').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
});
});

</script>
